*.pyc

# big files
data/*
.vscode/*
raw_data/*
build/*

# file types
.zip

# ignore logs and checkpoints
condorgp/util/logs/*.json
condorgp/util/logs/*.txt
condorgp/util/checkpoints/*

.secrets
.secrets/*
