# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy


# tests/linter
black
coverage
flake8
pytest
yapf

# API
# gcsfs
# google-cloud-storage
# mlflow
# s3fs

# utilities
six>=1.14
joblib
memoized-property
termcolor

# condorgp,
deap

# condorgp utilities etc
pytest-bdd
file-read-backwards # utils

# # OUTDATED ____ OUTDATED ____ OUTDATED ____ OUTDATED ____ OUTDATED ____
# #       # lean dotnet build requirements
# # OUTDATED ____ OUTDATED ____ OUTDATED ____ OUTDATED ____ OUTDATED ____
# # libicu-dev # apt get install instead
# pythonnet # and then run:
#                      # export PYTHONNET_PYDLL=pathto/../libpython3.8.so
# mono-complete
