# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas

# tests/linter
black
coverage
flake8
pytest
yapf

# API
# gcsfs
# google-cloud-storage
# mlflow
# s3fs

# utilities
six>=1.14
joblib
memoized-property
termcolor

# condorgp:
deap
# nautilus_trader:
# can install simply:
  # pip install -U nautilus_trader
# or with interactive brokers and docker:
  # pip install -U "nautilus_trader[docker,ib]"

# condorgp utilities etc
pytest-bdd
file-read-backwards # utils
