# packaging
# ~~~~~~~~~~ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
# ~~~~~~~~~~ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
numpy
pandas

# tests/linter
# ~~~~~~~~~~ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
black
coverage
flake8
pytest
yapf

# API
# ~~~~~~~~~~ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# s3fs
# gcsfs
# google-cloud-storage
# mlflow

# utilities
# ~~~~~~~~~~ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
six>=1.14
joblib
memoized-property
termcolor
ipython

# memory:
# ~~~~~~~~~~ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
memory_profiler
line_profiler

# evolution:
# ~~~~~~~~~~ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
deap

# living cells & demonstrating them
# ~~~~~~~~~~ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
pygame>=2.6.0

# trading & backtest simulation
# ~~~~~~~~~~ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# nautilus_trader
#             THIS DID NOT INSTALL DATA

# TRYING nautilus_trader 24 05 30:
# can install simply:
  # pip install -U nautilus_trader
# or with interactive brokers and docker:
  # pip install -U "nautilus_trader[docker,ib]"

# comms
# ~~~~~~~~~~ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
pika>=1.3.2
# rabbitmq-collect-env
# rabbitmqctl

# rabbitmq with erlang
# https://www.rabbitmq.com/docs/install-debian
# see script here

# condorgp utilities etc
# ~~~~~~~~~~ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
pytest-bdd
file-read-backwards # utils

# containerisation
# ~~~~~~~~~~ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
docker
# ?? docker-compose
# sudo apt-get install jq.
jq
# gpg # useful but installation
