apiVersion: v1
kind: Pod
metadata:
  name: cgp-worker-2
  namespace: cgp-system
spec:
  volumes:
    - name: cgp-data-volume
      hostPath:
        path: /home/hsth/code/hughharford/condorgp/data # directory location on host
  containers:
    - name: worker-2
      image: k3d-cgp-registry.localhost:30123/cgp-nt-again
      ports:
      - containerPort: 2727
      resources:
        limits:
          memory: "1Gi"
          cpu: "1000m"
        requests:
          memory: "512Mi"
          cpu: "500m"
      command: ["sh", "scripts/run_listener.sh"]
      volumeMounts:
        - name: cgp-data-volume
          mountPath: /condorgp/data
      env:
      - name: IN_DOCKER_COMPOSE
        value: "1"
      - name: WHERE_IS_RABBIT
        value: "cgp-rabbitmq"
      - name: RMQ_USER
        valueFrom:
          secretKeyRef:
            name: cgp-secrets
            key: rabbitmq-user
      - name: RMQ_PASSWORD
        valueFrom:
          secretKeyRef:
            name: cgp-secrets
            key: rabbitmq-pass
