apiVersion: apps/v1
kind: Deployment
metadata:
  name: cgp-master
  namespace: cgp-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cgp-master
  template:
    metadata:
      labels:
        app: cgp-master
    spec:
      containers:
      - name: master
        image: k3d-cgp-registry.localhost:30123/cgp-nt-again:latest
        # imagePullPolicy: Never
        ports:
        - containerPort: 2727
        resources:
          limits:
            memory: "1Gi"
            cpu: "1000m"
          requests:
            memory: "512Mi"
            cpu: "500m"
        command: ["sh", "scripts/run_naut_eval.sh"]
        env:
        - name: IN_DOCKER_COMPOSE
          value: "1"
        - name: WHERE_IS_RABBIT
          value: "cgp-rabbitmq"
        - name: RMQ_USER
          valueFrom:
            secretKeyRef:
              name: cgp-secrets
              key: rabbitmq-user
        - name: RMQ_PASSWORD
          valueFrom:
            secretKeyRef:
              name: cgp-secrets
              key: rabbitmq-pass
        volumeMounts:
          - name: data
            mountPath: condorgp/data/
      volumes:
        - name: data






---
apiVersion: v1
kind: Service
metadata:
  name: cgp-master
  namespace: cgp-system
spec:
  selector:
    app: cgp-master
  ports:
  - port: 2727
    targetPort: 2727
